.myclass{
    color:rgb(255, 0, 81);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:3px solid rgb(94, 255, 0);
    margin: 40px;
}

.error{
    background-color: red;
    color: white;
}